header {
  height: 100vh;
  @include center-unique-child;
  color: $color-light;
  .header-title {
    width: 70%;
    h1 {
      color: $color-light;
      font-size: 2.5rem;
    }
    p {
      padding: 10% 0;
      font-style: italic;
      line-height: 35px;
    }
    i {
      border: $color-light 1px solid;
    }
  }
}
