nav {
  width: $width-desktop;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align-last: left;
  align-items: center;
  height: 10vh;
  background: rgba(245, 245, 245, 0.25);
  z-index: 1;

  ul {
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    height: 100%;
    align-items: center;

    @media screen and (max-width: 950px) {
      max-width: 70%;
    }
    @media screen and (max-width: 775px) {
      max-width: none;
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(1) {
        width: 100%;
        display: grid;
        grid-template-columns: 34% 33% 33%;
      }
    }
    li {
      height: 100%;
      display: flex;
      align-items: center;

      a,
      a:visited {
        display: flex;
        align-items: center;
        height: 100%;
        @include title;
        letter-spacing: 2px;
        font-size: 0.7rem;
        padding: 15px 10px;
        color: $color-light;
        margin: 0 auto;
      }

      &:hover {
        background: $color-light;
        a,
        a:visited {
          color: $color-inter;
        }
      }
    }

    &:first-child {
      li {
        &:first-child {
          a,
          a:visited {
            color: $color-inter;
          }
          background: $color-light;
        }
      }

      &:hover {
        li:not(:hover) {
          background: transparent;
          a,
          a:visited {
            color: $color-light;
          }
        }
      }
    }
  }
}
